*__pycache__*

# venv folder
drl-hw3

ll
/models/*
plots
human_play
icm_ckpt
checkpoints

*log*
*rainbow*
convert.py
trajectory2play.py
clean_trajectory.py
train2.py
duelicm.py

!/models/d3qn_icm_best_7320score.pth
